<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app ="CounterApp">
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta charset="utf-8">
    <title>Digest Cycle</title>
  </head>
  <body>
    <h1>Digest Cycle</h1>
    <div class="" ng-controller="CounterController">

      <button ng-click="showwatchers()" type="button" name="button"># of watchers</button>
      <button ng-click="setFullname()" type="button" name="button">Set fullname</button>

      fullname is {{ :: fullname}}<br>

      <button ng-click="logFirstname()" type="button" name="button">log first name</button>
      <button ng-click="logFullname()" type="button" name="button">log full name</button>

      <div class="">
        <input type="text" name="" value="" ng-model="firstname">
      </div>
    </div>
  </body>
</html>
