<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app ="shoplist">
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="filter.js"></script>
    <meta charset="utf-8">
    <title>ng repeat</title>
  </head>
  <body>
    <h1>ng repeat</h1>
    <div class="" ng-controller="ShopListController">
      <h3>Shopping List</h3>
      <input type="text" name="" value="" ng-model="search">
      <ul>
        <li ng-repeat="item in shoplist1 | filter : search">{{item}}</li>
      </ul>





    </div>
  </body>
</html>
