<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app ="MsgApp">
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Expressions</h1>
    <div class="" ng-controller="MsgAppController">
      Message is :{{sayMessage();}}
      <div class="">
        <button type="button" ng-click="feedme()" name="button">{{btnCaption}}</button>
        I am <label for="" ng-model="feedstatus">{{feedstatus }}</label>
        cost: {{cost|currency}}
      </div>
    </div>

  </body>
</html>
