<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .txtred {border-color: red;}
      .txtgreen {border-color: green; border-width: medium;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController" >
     <h1>Lunch Checker</h1>
     <h5>This does not consider empty items</h5>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             ng-model="LunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control {{bordercolor}}"
             >
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
          <font color="{{color}}">  {{message}}</font>
         </div>
   </div>

</body>
</html>
